<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cabra.dotacard.dao.ValueCardMapper" >

  <resultMap id="ValueCardResultMap" type="cabra.dotacard.entity.ValueCard">
    <id property="card_id" column="card_id"></id>
    <result property="base_card_id" column="base_card_id"></result>
    <result property="card_type" column="card_type"></result>
    <result property="card_name.english" column="card_name_en"></result>
    <result property="card_text.english" column="card_text_en"></result>
    <result property="card_name.schinese" column="card_name_zh"></result>
    <result property="card_text.schinese" column="card_text_zh"></result>
    <result property="mini_image.schinese" column="mini_image"/>
    <result property="large_image.schinese" column="large_image"/>
    <result property="ingame_image.schinese" column="ingame_image"/>
    <result property="illustrator" column="illustrator"/>
    <result property="numrarity" column="rarity"/>
    <result property="is_blue" column="is_blue"/>
    <result property="is_red" column="is_red"/>
    <result property="is_black" column="is_black"/>
    <result property="is_green" column="is_green"/>
    <result property="item_def" column="item_def"/>
    <result property="attack" column="attack"/>
    <result property="hit_points" column="hit_points"/>
    <result property="gold_cost" column="gold_cost"/>
    <result property="armor" column="armor"/>
    <result property="sub_type" column="sub_type"/>
    <result property="mana_cost" column="mana_cost"/>
  </resultMap>
  <insert id="cdainit" parameterType="cabra.dotacard.entity.ValueCard" >
    insert into artifact_card (card_id, base_card_id, card_type,
      card_name_en, card_text_en, card_name_zh,card_text_zh,mini_image, large_image,
      ingame_image, illustrator, rarity,is_blue,is_red,is_black,is_green,
      item_def,attack,hit_points,gold_cost,armor,sub_type,mana_cost
      )
    values (#{valueCard.card_id,jdbcType=INTEGER}, #{valueCard.base_card_id,jdbcType=INTEGER}, #{valueCard.card_type,jdbcType=VARCHAR},
      #{valueCard.card_name.english,jdbcType=VARCHAR}, #{valueCard.card_text.english,jdbcType=INTEGER},
        #{valueCard.card_name.schinese,jdbcType=VARCHAR}, #{valueCard.card_text.schinese,jdbcType=VARCHAR},
       #{valueCard.mini_image.schinese,jdbcType=VARCHAR},
      #{valueCard.large_image.schinese,jdbcType=VARCHAR},#{valueCard.ingame_image.schinese,jdbcType=VARCHAR},
      #{valueCard.illustrator,jdbcType=VARCHAR}, #{valueCard.numrarity,jdbcType=INTEGER},
      #{valueCard.is_blue,jdbcType=BOOLEAN},#{valueCard.is_red,jdbcType=BOOLEAN},
      #{valueCard.is_black,jdbcType=BOOLEAN},#{valueCard.is_green,jdbcType=BOOLEAN},#{valueCard.item_def,jdbcType=INTEGER},
      #{valueCard.attack,jdbcType=INTEGER},#{valueCard.hit_points,jdbcType=INTEGER},#{valueCard.gold_cost,jdbcType=INTEGER},
      #{valueCard.armor,jdbcType=INTEGER},#{valueCard.sub_type,jdbcType=VARCHAR},#{valueCard.mana_cost,jdbcType=INTEGER}
      )
  </insert>

  <select id="getCardList" parameterType="cabra.dotacard.entity.ValueCard" resultMap="ValueCardResultMap">
       SELECT * FROM `artifact_card` WHERE `card_type` != 'Ability' and `card_type`!= 'Pathing' and `card_type`!='Stronghold' and `card_type`!='Passive Ability'
  </select>

  <select id="findbycid" parameterType="String" resultMap="ValueCardResultMap">
    Select * from artifact_card where card_id=#{cid}
  </select>

  <select id="search"  resultMap="ValueCardResultMap">
    select * from artifact_card where `card_type` != 'Ability' and `card_type`!= 'Pathing' and `card_type`!='Stronghold' and `card_type`!='Passive Ability'
    <if test="input!=null and input!=''">
    and (
      <trim prefixOverrides="AND |OR">
    <if test="input!=null and input!=''">
      or card_name_en like  "%"#{input}"%"
    </if>

    <if test="input!=null and input!=''">
      or card_text_en like "%"#{input}"%"
    </if>
    <if test="input!=null and input!=''">
      or attack like "%"#{input}"%"
    </if>
    <if test="input!=null and input!=''">
      or hit_points like "%"#{input}"%"
    </if>
        <if test="input!=null and input!=''">
          or card_text_zh like "%"#{input}"%"
        </if>
        <if test="input!=null and input!=''">
          or card_name_zh like "%"#{input}"%"
        </if>
      </trim>
    )
    </if>
    <if test="ctype!=null and ctype.size>0">
      and card_type in
      <foreach item="type" collection="ctype" separator="," open="(" close=")">
        #{type}
      </foreach>
    </if>
    <if test="RARITY!=null and RARITY.size>0">
      and rarity in
      <foreach item="rarit" collection="RARITY" separator="," open="(" close=")">
        #{rarit}
      </foreach>
    </if>
    <if test="color.is_blue==true or color.is_red==true or color.is_black==true or color.is_green==true">
    and (
      <trim prefixOverrides="AND |OR">
    <if test="color.is_blue!=null and color.is_blue!=''">
      or is_blue = #{color.is_blue}
    </if>
    <if test="color.is_red!=null and color.is_red!=''">
      or is_red = #{color.is_red}
    </if>
    <if test="color.is_black!=null and color.is_black!=''">
      or is_black = #{color.is_black}
    </if>
    <if test="color.is_green!=null and color.is_green!=''">
      or is_green = #{color.is_green}
    </if>
      </trim>
    )

    </if>
<!--    <if test="input!=null and input!=''">
      and gold_cost = #{input}
    </if>
    <if test="input!=null and input!=''">
      and mana_cost = #{input}
    </if>-->
  </select>
</mapper>